@media only screen and (max-width: 480px) {
    /* Mobile Devices */
    .wrapper {
        /* background-size: cover; */
        background-color: #131313;
        /* object-fit: cover; */
    }
    
    .banner{
        height:50vh;
        width:100vw;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    
    .videos {
        width:70%;
        margin:auto;
        margin-top:5%;
        color:#D2D2D2;
        text-align:left
    }
    
    .episode__box{
        display: block;
        border-bottom: 1px solid gray;
        padding:20px;
        margin:20px
    }
    
    .episode__box:hover{
        background-color:#333333
    }
    .episode__box img{
        height: 100px;
        width: 200px;
        object-fit: cover;
        margin: 4px;
        transition: transform 500ms;
    }
    
    .episode__box img:hover{
        transform: scale(1.1);
    }
    
    .episode__about{
        font-size: 12px;
        text-align:left;
        margin-top: 10px;
        /* margin-left:20px; */
        width:100%;
    }
    
    .fadeLast{
        height: 50vh;
        bottom:0px;
        background-image: linear-gradient(
          180deg,
          transparent,
          rgba(37, 37, 37, 0.8),
          #111
        );
      }
  }
  
  @media only screen and (min-width:481px) and (max-width: 768px) {
   /* IPADs */
  /* Tablets */
  .wrapper {
    background-size: cover;
    background-color: #131313;
    /* object-fit: cover; */
}

.banner{
    height:600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.videos {
    width:60%;
    margin:auto;
    margin-top:5%;
    color:#D2D2D2;
    text-align:left
}

.episode__box{
    display: flex;
    border-bottom: 1px solid gray;
    padding:20px;
    margin:20px
}

.episode__box:hover{
    background-color:#333333
}
.episode__box img{
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin: 4px;
    transition: transform 500ms;
}

.episode__box img:hover{
    transform: scale(1.1);
}

.episode__about{
    font-size: 14px;
    text-align:left;
    margin-left:20px
}

.fadeLast{
    height: 600px;
    bottom:0px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.8),
      #111
    );
  }
  }
  
  @media only screen and (min-width:769px) and (max-width: 1024px) {
   /* Small Screen Laptops */
   .wrapper {
    background-size: cover;
    background-color: #131313;
    /* object-fit: cover; */
}

.banner{
    height:600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.videos {
    width:60%;
    margin:auto;
    margin-top:5%;
    color:#D2D2D2;
    text-align:left
}

.episode__box{
    display: flex;
    border-bottom: 1px solid gray;
    padding:20px;
    margin:20px
}

.episode__box:hover{
    background-color:#333333
}
.episode__box img{
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin: 4px;
    transition: transform 500ms;
}

.episode__box img:hover{
    transform: scale(1.1);
}

.episode__about{
    font-size: 14px;
    text-align:left;
    margin-left:20px
}

.fadeLast{
    height: 600px;
    bottom:0px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.8),
      #111
    );
  }
  }
  
  @media only screen and (min-width:1024px) and (max-width: 1200px) {
    /* Desktops */
    .wrapper {
        background-size: cover;
        background-color: #131313;
        /* object-fit: cover; */
    }
    
    .banner{
        height:600px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    
    .videos {
        width:60%;
        margin:auto;
        margin-top:5%;
        color:#D2D2D2;
        text-align:left
    }
    
    .episode__box{
        display: flex;
        border-bottom: 1px solid gray;
        padding:20px;
        margin:20px
    }
    
    .episode__box:hover{
        background-color:#333333
    }
    .episode__box img{
        height: 100px;
        width: 200px;
        object-fit: cover;
        margin: 4px;
        transition: transform 500ms;
    }
    
    .episode__box img:hover{
        transform: scale(1.1);
    }
    
    .episode__about{
        font-size: 14px;
        text-align:left;
        margin-left:20px
    }
    
    .fadeLast{
        height: 600px;
        bottom:0px;
        background-image: linear-gradient(
          180deg,
          transparent,
          rgba(37, 37, 37, 0.8),
          #111
        );
      }
  }
  
  @media only screen and (min-width:1201px) {
  /* Extra large screens,TV */
  .wrapper {
    background-size: cover;
    background-color: #131313;
    /* object-fit: cover; */
}

.banner{
    height:600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.videos {
    width:60%;
    margin:auto;
    margin-top:5%;
    color:#D2D2D2;
    text-align:left
}

.episode__box{
    display: flex;
    border-bottom: 1px solid gray;
    padding:20px;
    margin:20px
}

.episode__box:hover{
    background-color:#333333
}
.episode__box img{
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin: 4px;
    transition: transform 500ms;
}

.episode__box img:hover{
    transform: scale(1.1);
}

.episode__about{
    font-size: 14px;
    text-align:left;
    margin-left:20px
}

.fadeLast{
    height: 600px;
    bottom:0px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.8),
      #111
    );
  }
  }
  